@{
    var rootUrl = Url.Content("~/");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/json2.js"></script>
    <!--[if lt IE 9]>
        <script src="~/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/commMe")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/avalon")
    @Scripts.Render("~/bundles/me")
    <script type="text/javascript">
        var tokenKey = 'accessToken';
    </script>
</head>
<body id="baseBody" class="container-fluid" rooturl="@rootUrl">

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
