@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Base.cshtml";

    var rootUrl = Url.Content("~/");
    var baseUrl = Url.Action("About", "Home");
    var manageUrlChangePassword = Url.Action("ChangePassword", "Manage");
    var apiurldomain = Url.Action("getDomains", "api/domains");
}
<link href="~/Content/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
<link href="~/Content/ligerUI/skins/Gray2014/css/all.css" rel="stylesheet" />
<link href="~/Content/ligerUIme.css?t=20150608001" rel="stylesheet" />
@Scripts.Render("~/bundles/init")
@Scripts.Render("~/bundles/ch")
@Scripts.Render("~/bundles/auth")
<div class="ms-controller" ms-controller="indexvm">
    <div id="pageloading">
    </div>
    <div id="topmenu" class="l-topmenu">
        <div class="l-topmenu-logo">
            <span><strong>{{lang.title.t1}}</strong> </span>
        </div>
        <div class="l-topmenu-welcome">
            <p>
                <strong>
                    {{lang.tlogin.domain}} :
                    <span id="domain" class="text-info">{{user.domain}}</span>
                </strong>
                <strong class="hidden">
                    ID :
                    <span id="UserID" class="text-success">{{user.userid}}</span>
                </strong>
                <strong>
                    {{lang.tlogin.UserName}} :
                    <span id="Name" class="text-success">{{user.username}}</span>
                </strong>
                <strong ms-class="{{user.dept==null?'hidden':''}}">
                    {{lang.tlogin.Dept}} :
                    <span id="Dept" class="text-info">{{user.dept}}</span>
                </strong>
                <strong>
                    {{lang.tlogin.RoleNames}} :
                    <span id="Group" class="text-info">{{user.userrole.length>0?user.userrole[0]:'No Role'}}</span>
                    <a href="#" ms-click="onLogout('Logout',this)" class="btn btn-danger btn-xs text-danger" role="button">{{lang.tlogin.Logout}}</a>
                </strong>
            </p>
        </div>
    </div>
    <div id="layout1" style="width: 99.6%; margin: 0 auto; margin-top: 4px;">
        <div position="left" id="accordion1" ms-attr-title="{{lang.title.t2}}">
            <div ms-repeat="arrmenus" ms-attr-title="{{lang.title[$val[0].funcTypeTitle]}}" class="list-group">
                <a ms-repeat="$val" class="list-group-item list-group-item-info text-center" href="#" ms-hover="active" ms-click="addtab(el.Id,lang.title[el.displayTitle],rooturl+el.mainUrl)">{{($index+1)+'. '+lang.title[el.displayTitle]}}</a>
            </div>
            <div style="height:35px;"></div>
        </div>
        <div position="center" id="framecenter">
            <div tabid="home" ms-attr-title="{{lang.title.t5}}" style="height: 300px">
                <iframe frameborder="0" name="home" id="home" src="~/home.html"></iframe>
            </div>
        </div>
    </div>
    <div style="height: 32px; line-height: 32px; text-align: center;">
        {{lang.title.t6}}
    </div>
    <div style="display: none">
    </div>
</div>
@Scripts.Render("~/bundles/ligerUI")
@Scripts.Render("~/bundles/index")
